<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" href="../img/favicon.png"/>

		<link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="../stylesheets/additional-styles.css" rel="stylesheet">
  	<script src="../scripts/bootstrap.min.js"></script>
		<script src="../scripts/popper.min.js"></script>
		<script src="../scripts/jquery.min.js"></script>

		<title>EquationGuide</title>
	</head>
	<body>
		<div class="d-flex align-items-center min-vh-100">
  		<div class="container text-center">
				<form>
	    		<div class="row form-group">
						<input
							class="
								form-control
								equation-guide-input
								equation-guide-equation-part-input
								mr-2
								text-center
							"
							type="text"
							placeholder="Linke Seite der Gleichung"
							required
						/>
						<input
							id="equation-guide-equals-sign-input"
							class="
								form-control
								equation-guide-input
								text-center
								font-weight-bold
							"
							type="text"
							value="="
							readonly
						/>
						<input
							class="
								form-control
								equation-guide-input
								equation-guide-equation-part-input
								ml-2
								text-center
							"
							type="text"
							placeholder="Rechte Seite der Gleichung"
							required
						/>
					</div>

					<div></div> <!-- Rechenschritte -->

					<div class="row justify-content-center">
						<a
							class="btn btn-secondary equation-guide-button mr-4"
							href="../../index.html"
						>
							Zurück
						</a>
						<button class="btn btn-primary equation-guide-button" type="submit">
							Start
						</button>
						<button class="btn btn-warning equation-guide-button ml-4">
							Hilfe
						</button>
					</div>
				</form>
  		</div>
		</div>
	</body>
</html>
