<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="../img/favicon.png"/>

    <link href="../stylesheets/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/equation-guide-styles.css" rel="stylesheet">

    <script src="../scripts/lib/jquery.min.js"></script>
    <script src="../scripts/lib/bootstrap.min.js"></script>
    <script src="../scripts/lib/popper.min.js"></script>
    <script src="../scripts/lib/nerdamer.js"></script>
    <script src="../scripts/templates.js"></script>
    <script src="../scripts/event-handlers.js"></script>
    <script src="../dist/bundle.js"></script>

    <title>EquationGuide</title>
</head>
<body>
<div class="d-flex align-items-center min-vh-100">
    <div class="container text-center min-vw-100">
        <div class="row form-group justify-content-center">
            <!-- inputs for defining the equation -->
            <input
                    id="left-equation-input"
                    class="
							form-control
							equation-input
							w-25
							mr-2
							text-center
						"
						type="text"
						placeholder="Linke Seite der Gleichung"
						data-toggle="tooltip"
						data-placement="top"
						title="
							Legt den Teil der Gleichung fest, der sich links
							neben dem Gleichheitszeichen befindet.
						"
						required
					/>

            <input
                    class="
							form-control
							equation-input
							text-center
							font-weight-bold
							equals-sign-input
						"
                    type="text"
                    value="="
                    readonly
            />

            <input
                    id="right-equation-input"
                    class="
							form-control
							equation-input
							w-25
							ml-2
							text-center
						"
						type="text"
						placeholder="Rechte Seite der Gleichung"
						data-toggle="tooltip"
						data-placement="top"
						title="
							Legt den Teil der Gleichung fest, der sich rechts
							neben dem Gleichheitszeichen befindet.
						"
						required
					/>

            <input
                    id="variable-input"
                    class="
							form-control
							equation-input
							ml-2
							text-center
						"
						type="text"
						placeholder="Zielvariable"
						data-toggle="tooltip"
						data-placement="top"
						title="
							Legt fest, nach welcher Variable die angegebene
							Gleichung umgeformt werden soll.
						"
						required
					/>
				</div>

        <!-- section for rearranging the equation -->
        <div id="equation-rearrangement-div" class="mt-4"></div>

        <!-- error alert section -->
        <div id="alert-div" class="col"></div>

				<!-- button section -->
				<div class="row justify-content-center">
					<a
						id="back-button"
						class="btn btn-secondary equation-guide-button mr-4"
						href="../../index.html"
						data-toggle="tooltip"
						data-placement="bottom"
						title="
							Stellt den Ausgangszustand wieder her und
							leitet zum Hauptmenü weiter.
						"
					>
						Zurück
					</a>

					<a
							id="help-button"
							class="btn btn-warning equation-guide-button ml-4"
							href="#"
							data-toggle="tooltip"
							data-placement="bottom"
							title="
								Erklärungen werden ein- bzw. ausgeblendet.
							"
					>
						Hilfe ausschalten
					</a>
				</div>
  		</div>
		</div>
	</body>
			<a
					id="reset-button"
					class="btn btn-dark equation-guide-button ml-4"
					href="#"
			>
				Zurücksetzen
			</a>

            <a
                    id="help-button"
                    class="btn btn-warning equation-guide-button ml-4"
                    href="#"
            >
                Hilfe
            </a>
        </div>
    </div>
</div>
</body>
</html>
