#index-equation-guide-headline {
  font-family: "Optima";
  font-size: 130px;
}

#index-separation-line {
  width: 5px;
  background-color: black;
}

.index-button {
  width: 100%;
}

.index-span {
  font-family: "Optima";
}

.index-navbar-span {
  font-size: 18px;
}

.equation-guide-input {
  font-size: 20px;
  font-family: "Arial";
}

#equation-guide-equals-sign-input {
  width: 3.5%;
}

.equation-guide-equation-part-input {
  width: 47.5%;
}

.equation-guide-button {
  width: 15%;
}
