.equation-input {
  font-size: 20px;
  font-family: "Arial";
}

#variable-input {
  width: 9%;
}

.equals-sign-input {
  width: 4%;
}

.arithmetic-operation-select {
  width: 6%;
}

.equation-guide-button {
  width: 10%;
}

.rearrangement-button {
  width: 8%;
}

.rearrangement-step-input {
  width: 15%;
}
