.equation-input {
  font-size: 20px;
  font-family: "Arial";
}

.equals-sign-input {
  width: 4%;
}

.arithmetic-operation-select {
  width: 4%;
}

.equation-guide-button {
  width: 15%;
}

.rearrangement-button {
  width: 8%;
}

.rearrangement-step-input {
  width: 15%;
}

.error-alert {
  width: 48%;
}
