#equation-guide-headline {
  font-family: "Optima";
  font-size: 130px;
}

#separation-line {
  width: 5px;
  background-color: black;
}

.feature-button {
  width: 100%;
}

.button-span {
  font-family: "Optima";
}
